body {
  background-color: #331100;
}

.frame{
 background-image: url('../img/tribal.jpg');
  margin: auto;
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

th {
  font-size: 32px;
}

.table-container {
  margin-top: 120px;
  width: 75vw;
}

.detail-table {
border-width: 1px;
border-color: #C9BAAB;
border-style: solid;
border-collapse: collapse;
}

.detail-header {
  background-color: #634930;
  border: 1px solid #C9BAAB;
}

.detail-cell {
  border: 1px solid #C9BAAB;
  font-size: 26px;
  text-align: center;
}

.page-title {
  font-family: title-font;
  color: #634930;
  text-shadow: #C9BAAB 5px 5px 5px;
  margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  font-size: 6vw;
}

.top-bar {
  padding-left: 7.5%;
  padding-right: 7.5%;
}

.bullet-point {
  width: 50px;
  height: 50px;
}

.navigation-list {
margin: 2% auto 0 auto;
  /* width: 25vw; */
}
.etg-button {
  width: 320px;
  height: 64px;
 background: url('../img/button.png');
 background-size: cover;
 border: 0;
  margin-left: auto;
  color: #FFF;
  font-size: 24px;
  font-family: button-font;
}

.game-container {
  margin: 5% auto 0 auto;
  font-size: 48px;
  color: #FFF;
}
